<% provide(:title, 'Rotalar') %>
<div class="container routeIndexCon">
  <div><a href="#" data-toggle="modal" data-target="#addRoute-modal-lg">Yeni rota ekleyin</a></div>
  <div class="modal fade" id="addRoute-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>
          <h4 class="modal-title" id="myModalLabel">Rota Ekleyin</h4>
        </div>
        <div class="modal-body">
          <div class="map" id="routeNewMap">
            <div id="map-canvas"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
          <button type="button" class="btn btn-primary">Kaydet</button>
        </div>
      </div>
    </div>
  </div>
</div>