<% provide(:title, 'Harikalar') %>
<div class="container" id="wonders">
  <% @wonders.each do |w| %>
  	<div class="indexWonder">
    	<h2>
      	<%= link_to w.name, w %>
      	<span class="comments">(<%= w.comments.size %> yorum)</span>
    	</h2>
    </div>
  <% end %>
</div>
<%= will_paginate @wonders %>