<% provide(:title, 'Harikalar') %>

<div id="wonders">
<% @wonders.each do |w| %>
  <h2>
    <%= link_to w.name, w %>
    <span class="comments">(<%= w.comments.size %> yorum)</span>
  </h2>
<% end %>
</div>

<%= will_paginate @wonders %>