@import "bootstrap";
@import "compass";
@import "compass/layout";

/* mixins, variables, etc. */

$mainColor: #2F77BF;
$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
  color: #5a5a5a;
  font-family: 'Roboto', 'serif';
  background-image: url(handmadepaper.png);
  background-position: top left;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.row {
  margin: 20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  color: #666;
  &:hover {
    text-decoration: none;
  }
}

.navbar-wrapper {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid $grayMediumLight;
  background-color: #FFF;
  margin: 0;
  font-size: 12px;
  .navbar {
    background-image: none;
    margin: 0;
    .container {
      width: auto;
      padding: 0 180px;
      li {
        margin: 10px 0;
        a {
          color: #5a5a5a;
          padding: 10px;
          height: 40px;
          @include border-radius(4px);
          &:hover {
            background-color: scale-lightness($mainColor, 10%);
            color: white;
          };
          &:not(.userEmail){
            text-transform: uppercase;
          }
        }
      }
      .gravatar {
        padding: 0;
      }
      .nav img {
        height: 40px;
        padding: 2px;
        margin: auto;
      }
    }
  }
}

.tabsBar {
  width: 100%;
  height: 40px;
  @include background(linear-gradient(to bottom, scale-lightness($mainColor, 10%), $mainColor, scale-lightness($mainColor, 10%)));
  border-top: 1px solid scale-lightness($mainColor, 10%);
  border-bottom: 1px solid scale-lightness($mainColor, 10%);
  @include box-shadow(scale-lightness($mainColor, 10%) 0 1px 1px 0);
  font-size: 0.9em;
  .navbarBelow {
    padding-left: 180px;
    li {
      list-style-type: none;
      display: inline-block;
      text-decoration: none;
      line-height: 40px;
      padding-right: 10px;
      a {
        display: inline-block;
        color: $grayMediumLight;
        padding: 0 4px;
        &:hover {
          text-decoration: none;
          background-color: scale-lightness($mainColor, -10%);
        }
      }
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* homepage */

#homeFoto {
  height: 500px;
  width: 100%;
  z-index: -1;
  background: url(eiffel.jpg);
  @include filter(brightness(0.4));
  background-repeat: no-repeat;
  @include background-size(cover);
  background-position: center center;
}

#homeMap {
  height: 150px;
  width: 100%;
  margin: 40px 0;
  padding: 0 40px;
  @include border-radius(1px);
}

.searchForm {
  position: absolute;
  top: 220px;
  width: 100%;
  font-size: 2em;
  border: 5px;
  text-align: center;
  @include border-radius(5px);
  .form-control {
    width: 300px;
    height: 50px;
    margin: 0 auto;
  }
  p {
    margin: 0 auto;
    font-size: 2em;
    color: white;
  }
}

#map-canvas {
  height: 100%;
}

.container-fluid {
  height: 600px;
  padding: 0;
}

/* showpage */

#showMap {
  height:400px;
}

#showFoto {
  position: relative;
  background-repeat: no-repeat;
  @include background-size(cover);
  background-position: center center;
}

#fotoInfo {
  z-index: 99;
}

#commentDiv {
  border-right: 1px solid #c2c2c2;
  .field {
    width: 100%;
    textarea {
      width: 100%
    }
  }
}

.showComment {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}

.timestamp {
  color: $gray-light;
}

.commentGravatar {
  float: left;
  margin-right: 10px;
}

#showCon {
  margin-top: 20px;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #e3e3e3;
  @include border-radius(5px);
}

#showSidebar {
}

.showProp {
  text-size: 0.9em;
  list-style: none;
  .showPropKey {
    font-weight: bold;
  }
}

/* createpage */

#createMap {
  height:500px;
  width: 100%;
  z-index: -1;
}

#formDiv {
  position: absolute;
  top: 450px;
  right: 40px;
  height: 100px;
  width: 400px;
  background-color: rgba(240,240,240,0.8);
  padding: 10px;
  margin: auto;
  z-index: 1;
  border: 1px solid #c2c2c2;
  textarea {
    width: 100%;
  }
}

/* index */

#wonders {
  margin-top: 90px; 
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing(border-box);
}