@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
  color: #5a5a5a;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  color: #666;
  &:hover {
    text-decoration: none;
  }
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgba(246,246,246,0.8);
    background-image: none;
    .container {
      width: auto;
      a {
        color: #5a5a5a;
        &:hover {
          background-color: rgba(246,246,246,0.8);
          color: #000;
        }
      }
    }
  }
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
} 

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    border-radius: 4px;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* homepage */

#homeMap {
  position: absolute;
  height: 300px;
  top: 340px;
  right: 20px;
  width: 400px;
  z-index: 1;
  margin: 10px;
  padding: 10px;
}

#homeFoto {
  height:600px;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
}

#map-canvas {
  height: 100%;
  border: 5px solid white;
}

.container-fluid {
  height: 100%;
  padding: 0;
}

#info-div {
  position: absolute;
  left: 20px;
  top: 560px;
  z-index: 1;
  height: 80px;
  width: 381px;
  background-color: rgba(200,200,200,0.9);
  border: 5px solid #FFFFFF;
  padding: 5px;
  font-size: 0.8em;
  display: table;
  span {
    display: table-cell;
    vertical-align: middle;
  }
}

/* showpage */

#showMap {
  height:400px;
  width: 100%;
  z-index: -1;
}

#showFoto {
  position: absolute;
  height: 300px;
  width: 300px;
  left: 100px;
  top: 420px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
}

/* createpage */

#createMap {
  height:400px;
  width: 100%;
  z-index: -1;
}