@import "bootstrap";
@import "compass";
@import "compass/layout";

/* mixins, variables, etc. */

$mainColor: #007F46;
$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
  color: #5a5a5a;
  font-family: 'Roboto', 'serif';
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-fluid {
  background-image: url(brickwall.png);
  background-position: top left;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  color: #666;
  &:hover {
    text-decoration: none;
  }
}

.navbar-wrapper {
  height: 50px;
  border-bottom: 1px solid $grayMediumLight;
  background-color: #FFF;
  .navbar {
    background-image: none;
    margin: 0;
    .container {
      width: auto;
      padding: 0 100px;
      a {
        color: #5a5a5a;
        padding: 13px 15px;
        height: 50px;
      }
      .gravatarLink {
        padding: 5px;
      }
      .nav img {
        height: 40px;
        padding: 2px;
        margin: auto;
        border: 1px solid scale-lightness($gray, 70%);
        @include border-radius(50%);
        @include box-shadow(scale-lightness($gray, 20%) 0 1px 1px);
      }
    }
  }
}

.tabsBar {
  width: 100%;
  height: 40px;
  @include background(linear-gradient(to bottom, $mainColor, scale-lightness($mainColor, 10%), $mainColor));
  border-top: 1px solid #347F59;
  border-bottom: 1px solid #347F59;
  @include box-shadow(#347F59 0 1px 1px 0);
  font-size: 0.9em;
  .navbarBelow {
    padding-left: 180px;
    li {
      list-style-type: none;
      display: inline;
      text-decoration: none;
      line-height: 40px;
      padding-right: 20px;
      a {
        color: $grayMediumLight;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* homepage */

#homeMap {
  position: absolute;
  height: 150px;
  top: 420px;
  right: 20px;
  width: 400px;
  z-index: 1;
  border: 3px solid white;
  @include border-radius(1px);
}

#homeFoto {
  height: 500px;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  @include background-size(cover);
  background-position: center center;
}

.searchForm {
  position: absolute;
  top: 220px;
  left: 50%;
  width: 600px;
  height: 150px;
  margin: -50px 0 0 -300px;
  background-color: rgba(246,246,246,0.8);
  border: 5px;
  text-align: center;
  @include border-radius(5px);
  .form-control {
    width: 300px;
    height: 50px;
    margin: 0 auto;
  }
  p {
    margin: 10px 25px;
    font-size: 2em;
  }
}

#map-canvas {
  height: 100%;
}

.container-fluid {
  height: 600px;
  padding: 0;
}

#info-div {
  position: absolute;
  left: 20px;
  top: 490px;
  z-index: 1;
  height: 80px;
  width: 381px;
  background-color: rgba(200,200,200,0.9);
  border: 3px solid #FFFFFF;
  padding: 5px;
  font-size: 0.8em;
  display: table;
  span {
    display: table-cell;
    vertical-align: middle;
  }
}

/* showpage */

#showMap {
  height:400px;
  width: 100%;
  z-index: -1;
}

#showCon {
  padding: 20px;
}

#showFoto {
  position: relative;
  background-repeat: no-repeat;
  @include background-size(cover);
  background-position: center center;
}

#fotoInfo {
  z-index: 99;
}

#commentDiv {
  border-right: 1px solid #c2c2c2;
  .field {
    width: 100%;
    textarea {
      width: 100%
    }
  }
}

.showComment {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}

.timestamp {
  color: $gray-light;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

#showCon {
  background-color: rgba(240, 240, 240, 1);
  border: 1px solid #e3e3e3;
  @include border-bottom-right-radius(5px);
  @include border-bottom-left-radius(5px);
}

#showSidebar {
}

/* createpage */

#createMap {
  height:500px;
  width: 100%;
  z-index: -1;
}

#formDiv {
  position: absolute;
  top: 450px;
  right: 40px;
  height: 100px;
  width: 400px;
  background-color: rgba(240,240,240,0.8);
  padding: 10px;
  margin: auto;
  z-index: 1;
  border: 1px solid #c2c2c2;
  textarea {
    width: 100%;
  }
}

/* index */

#wonders {
  margin-top: 90px; 
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing(border-box);
}