<footer class="footer">
  <small>
    Dünyanın Harikaları
  </small>
  <nav>
    <ul>
      <li><%= link_to "Hakkında",   '#' %></li>
      <li><%= link_to "İletişim", '#' %></li>
      <li><a href="#">Haberler</a></li>
    </ul>
  </nav>
</footer>